@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
    --normal-font: "Open Sans", sans-serif;
    --cursive-font: 'Dancing Script', cursive;
    --max-width: 1150px;
    --white-color: #fff;
    --black-color: #000;
    --active-color: #FFBE33;
    --button-bg: #FFBE33;
    --hover-color: #e99f00;
    --ad-bg: #222831;
    --box-bg: #F1F2F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal-font);
}

html,
body {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* Scroll Up Button */

.scroll-btn a {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: var(--active-color);
    color: var(--white-color);
    z-index: 1000;
    transition: all 0.5s ease;
}

.scroll-btn a:hover {
    background-color: var(--hover-color);
}

/* Header Section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    z-index: 1000;
    transition: all 0.5s ease;
}

.container {
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

header .nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: transparent;
}

header.sticky {
    height: 10vh;
    background-color: var(--ad-bg);
}

.nav-bar :is(.menu-btn, .cancel-btn){
    display: none;
    position: absolute;
    top: 50%;
    right: 0px;
    color: var(--white-color);
    font-size: 1.3rem;
    transform: translateY(-50%);
}

.nav-bar .cancel-btn {
    top: 70px;
    right: 30px;
}

.nav-bar .nav-title h1{
    font-family: var(--cursive-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
}

.nav-bar .links-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.nav-bar .nav-links a {
    color: var(--white-color);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.nav-bar .nav-links a:hover,
.nav-bar .nav-links a.active {
    color: var(--active-color);
}

.nav-bar .nav-details {
    display: flex;
    align-items: center;
}

.nav-bar .nav-details i {
    color: var(--white-color);
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.nav-bar .nav-details i:hover {
    color: var(--active-color);
}

.order-button {
    padding: 10px 30px;
    background-color: var(--button-bg);
    color: var(--white-color);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.order-button:hover {
    background-color: var(--hover-color);
}

/* Home Section */

.home {
    height: 100vh;
    width: 100%;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
}

.home .container {
    width: 100%;
    display: flex;
    align-items: center;
}


.home .home-content h2{
    font-size: 3.5rem;
    font-family: var(--cursive-font);
    font-weight: 600;
    color: var(--white-color);
}

.home-content p {
    margin: 30px 0;
    max-width: 500px;
    color: var(--white-color);
    font-size: 0.9rem;
}

.pagination .swiper-pagination-bullet {
    background-color: var(--button-bg);
    height: 1rem;
    width: 1rem;
}

/* Menu Section */

section {
    padding: 5rem 0;
}

.menu .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.menu .ad-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.ad-items .ad-item {
    background-color: var(--ad-bg);
    width: calc(100% / 2 - 20px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: var(--white-color);
}

.ad-item .ad-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid var(--active-color);
}

.ad-item .ad-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.ad-item .ad-content h3 {
    font-family: var(--cursive-font);
    font-size: 1.5rem;
}

.ad-content .discount {
    font-family: var(--cursive-font);
    font-size: 2.5rem;
    margin: 10px 0 10px 0;
    font-weight: 500;
}

.ad-content .discount span {
    font-family: var(--cursive-font);
    font-size: 1rem;
}

.menu-container h2 {
    margin: 40px 0;
    font-family: var(--cursive-font);
    font-size: 2.5rem;
}

.menu-container .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.categories .category {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 30px;
    color: var(--ad-bg);
    transition: all 0.5s ease;
}

.categories .category.active,
.categories .category:hover {
    background-color: var(--ad-bg);
    color: var(--white-color);
}

.menu-container .menu-boxes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.menu-boxes .menu-box {
    min-height: 400px;
    width: calc(100% / 3 - 20px);
    background-color: var(--ad-bg);
    display: flex;
    flex-direction: column;
    clip-path: inset(0 0 0 0 round 20px);
}

.menu-box .menu-img {
    height: 50%;
    background-color: var(--box-bg);
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.menu-box .menu-img img {
    width: 150px;
    object-fit: cover;
    transition: width 0.5s ease;
}

.menu-box:hover img {
    width: 180px;
}

.menu-box .menu-details {
    height: 50%;
    color: var(--white-color);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.menu-details h3 {
    font-weight: 600;
}

.menu-details p {
    font-size: 0.9rem;
}

.menu-details .menu-price {
    display: flex;
    justify-content: space-between;
}

.menu-details .menu-price i {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--active-color);
}

/* About Section */

.about {
    background-color: var(--ad-bg);
}

.about .about-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-content .about-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-content .about-img img {
    max-height: 550px;
}

.about-content .about-details {
    width: 50%;
    color: var(--white-color);
}

.about-details h1 {
    font-size: 2.3rem;
    font-family: var(--cursive-font);
    font-weight: 600;
}

.about-details p {
    margin: 20px 0;
    font-weight: 500;
}



/* Media Queries */

@media screen and (max-width: 1350px) {
    .py {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1200px) {
    .menu-boxes .menu-box {
        height: 250px;
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 980px) {
    .nav-bar .links-box{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        max-width: 400px;
        width: 100%;
        background-color: var(--ad-bg);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        row-gap: 30px;
        transition: all 0.5s ease;
    }

    .nav-bar.active .links-box {
        right: 0;
    }

    .nav-bar .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }

    .nav-bar .nav-details{
        flex-direction: column;
        row-gap: 30px;
    }

    .nav-bar :is(.menu-btn, .cancel-btn){
        display: block;
    }

    .ad-items .ad-item {
        flex-direction: column;
        row-gap: 20px;
    }

    .ad-item .ad-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about .about-content {
        flex-direction: column-reverse;
    }

    .about-content .about-details {
        width: 80%;
    }

}

@media screen and (max-width: 760px) {
    .home .home-content h2 {
        font-size: 3rem;
    }

    .ad-items .ad-item {
        width: 100%;
        flex-direction: row;
        row-gap: 20px;
    }

    .ad-item .ad-content {
        align-items: flex-start;
    }

    .ad-item .ad-img {
        width: 150px;
        height: 100%;
    }

    .ad-item .ad-content h3 {
        font-size: 1.2rem;
    }

    .menu-container .menu-boxes {
        gap: 15px;
    }

    .menu-boxes .menu-box {
        width: 100%;
    }

    .menu-box .menu-img img {
        width: 120px;
    }

    .order-button {
        font-size: 0.8rem;
        padding: 10px 20px;
    }

    .categories .category {
        font-size: 0.8rem;
    }

    .about-content .about-img img {
        max-height: 450px;
    }

    .about-content .about-details {
        width: 100%;
    }

}

