@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@200;600;700&display=swap");

:root {
    --normal-font: "Poppins";
    --open-font: "Open Sans", sans-serif;
    --max-width: 1300px;
    --appbar-color: #90BC79;
    --appbar-shadow-color: #59744a;
    --white-color: #fff;
    --black-color: #000;
    --nav-gap: 40px;
    --dark-color: #1C2900;
    --sublink-color: #F5F5F5;
    --sublink-dark-color: #e0e0e0;
    --p-color: #5f5f5f;
    --border-color: rgba(212, 212, 212, 0.438);
    --border-dark-color: rgba(255, 255, 255, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

section {
    padding: 5rem 0;
}

/* Scroll Up Button */

.scroll-btn a {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 12px 15px;
    border-radius: 50%;
    background-color: var(--appbar-color);
    color: var(--white-color);
    z-index: 1000;
}

/* Navbar Section */

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--appbar-color);
    width: 100%;
    height: 14vh;
    z-index: 1000;
    transition: all 0.5s ease;
}

nav.sticky {
    box-shadow: 0px 1px 4px var(--appbar-shadow-color);
}

nav .container {
    height: 100%;
}

.navbar .nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-content :is(.menu-btn, .nav-links .cancel-btn) {
    position: absolute;
    top: 45px;
    right: 30px;
    transform: translateY(-50%);
    border: 3px solid rgba(255, 255, 255, 0.315);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--white-color);
    display: none;
}

.nav-content h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--normal-font);
    color: var(--white-color);
}

.nav-content .nav-details {
    display: flex;
    column-gap: var(--nav-gap);
}

.nav-details .nav-links {
    display: flex;
    align-items: center;
    font-family: var(--open-font);
    gap: var(--nav-gap);
    color: var(--white-color);
    font-weight: 500;
    font-size: 1rem;
}

.nav-links .nav-link {
    height: 100%;
    color: var(--dark-color);
    transition: all 0.5s ease;
}

.nav-link i {
    margin: 0 5px;
}

.nav-links .nav-link.active,
.nav-links .nav-link:hover {
    color: var(--white-color);
}

.nav-links li {
    position: relative;
    transform: all 0.5s ease;
}

.nav-links li .sub-links {
    min-width: 150px;
    display: block;
    opacity: 0;
    position: absolute;
    background-color: var(--sublink-color);
    top: 40px;
    left: 0;
    padding: 8px 0px;
    border-radius: 5px;
    transition: all 0.6s ease;
    z-index: 1000;
}

.nav-links li:hover .sub-links {
    opacity: 1;
    top: 25px;
}

.sub-links li {
    padding: 5px 15px;
    transition: all 0.5s ease;
}

.sub-links a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
}

.sub-links li:hover {
    background-color: var(--sublink-dark-color);
}

button {
    background-color: var(--dark-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 5px;
    border: 3px solid transparent;
    font-family: var(--open-font);
}

/* Home Section */

.bg-design {
    position: relative;
    background-image: url("../img/bg.png");
    background-color: var(--appbar-color);
}

.bg-design::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff23;
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 35% 100%);
}

.home .container {
    margin-top: 14vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.home .home-content {
    position: relative;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.home-content .home-details {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 18px;
    color: var(--white-color);
    font-family: var(--open-font);
}

.home-details h4 {
    font-weight: 300;
    font-size: 1.5rem;
}

.home-details .title h2 {
    font-family: var(--normal-font);
    font-size: 3.5rem;
    line-height: 4rem;
}

.title .thin {
    color: var(--dark-color);
    font-weight: 100;
}

.home-details p {
    font-weight: 500;
}

.home-details .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons .contact-btn {
    color: var(--dark-color);
    border: 3px solid var(--dark-color);
    background-color: transparent;
    transition: all 0.4s ease;
}

.buttons .contact-btn:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.home-content .home-img {
    width: 50%;
    height: 100%;
}

/* About Section */

.about .about-content .about-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.about-boxes .about-box {
    width: calc(100% / 3 - 20px);
    height: 230px;
    background-color: var(--appbar-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-boxes .about-box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff23;
    clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 35% 100%);
}

.about-box .border {
    position: relative;
    border: 3px solid var(--border-dark-color);
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.about-box i {
    font-size: 3rem;
    color: var(--dark-color);
}

.about-box h3 {
    color: var(--white-color);
    font-size: 1.2rem;
    font-family: var(--normal-font);
}

.about-content .about-description {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-description .about-img {
    width: 50%;
}

.about-description .about-product {
    width: 50%;
    font-family: var(--open-font);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.about-product h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--normal-font);
    color: var(--appbar-color);
}

.about-product h2 span {
    font-weight: 200;
    color: var(--dark-color);
}

.about-product p {
    color: var(--p-color);
}

.shop-btn {
    background-color: var(--appbar-color);
}

/* Offer Section */

.offer .offer-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.offer-content .offer-img {
    width: 50%;
}

.offer-content .offer-box {
    width: 50%;
    background-color: var(--white-color);
    padding: 25px;
}

.offer-box .offer-card .border {
    border: 3px solid var(--border-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--open-font);
}

.offer-card p {
    color: var(--p-color);
    text-align: center;
}

.offer-card h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--normal-font);
    text-transform: uppercase;
}

.offer-card h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--appbar-color);
    font-family: var(--normal-font);
    margin: 10px 0;
}

.offer-card h4 {
    font-family: var(--normal-font);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.offer-card .timer-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 0px;
}

.timer-row .offer-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-row .offer-time h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--normal-font);
}

.timer-row .offer-time h5 {
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    color: var(--p-color);
    font-family: var(--normal-font);
}

/* Features Section */

.main-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.main-title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--normal-font);
    color: var(--appbar-color);
    line-height: 3rem;
}

.main-title span {
    font-weight: 400;
    color: var(--dark-color);
}

.main-title p {
    margin: 20px 0;
    color: var(--p-color);
    font-family: var(--open-font);
}

.features .features-items {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.features-items .features-item {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.features-item li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.features-item .check-box {
    position: relative;
    padding: 35px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
}

.features-item .check-box i {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 900;
    color: var(--appbar-color);
}

.features-item .features-details {
    font-family: var(--normal-font);
}

.features-details h3 {
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 18px;
}

.features-details h3::before {
    position: absolute;
    content: "";
    top: 35px;
    left: 0px;
    height: 3px;
    width: 80px;
    background-color: var(--border-color);
}

.features-details p {
    font-family: var(--open-font);
    color: var(--p-color);
}

/* How to Use Section */

.use .main-title :is(h2, p),
.testimonials .main-title :is(h2, p) {
    color: var(--white-color);
}

.use .use-items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: var(--white-color);
}

.use-items .use-item {
    width: calc(100% / 3 - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: var(--open-font);
    gap: 20px;
}

.use-item .use-img {
    position: relative;
    padding: 50px;
    border-radius: 50%;
    border: 3px solid var(--border-dark-color);
}

.use-img i {
    font-size: 2.2rem;
    color: var(--dark-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.use-item .use-title {
    font-family: var(--normal-font);
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

.use-item .use-title::before {
    position: absolute;
    content: "";
    top: 35px;
    left: 50%;
    height: 3px;
    width: 100px;
    background-color: var(--border-dark-color);
    transform: translateX(-50%);
}

/* Products Section */

.products .products-wrapper {
    height: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.products-wrapper .product {
    width: calc(100% / 4 - 20px);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 3px solid rgb(243, 243, 243);
    padding: 20px;
    transition: all 0.5s ease;
}

.products-wrapper .product:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 0 35px rgba(144, 188, 121, .25);
    box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.product .product-img{
    height: 35%;
}

.product .product-details {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: var(--open-font);
}

.product-details .product-rating i {
    color: var(--appbar-color);
}

.product-rating .rating-number {
    font-size: 0.8rem;
    color: gray;
}

.product-details h3 {
    font-family: var(--normal-font);
    font-size: 1rem;
}

.product-details .price {
    font-family: var(--normal-font);
    font-size: 1.2rem;
    color: var(--appbar-color);
}

.product-details .add-button {
    background-color: transparent;
    border: 3px solid var(--appbar-color);
    color: var(--appbar-color);
    padding: 8px 15px;
    transition: all 0.5s ease;
}

.product:hover .add-button {
    background-color: var(--appbar-color);
    color: var(--white-color);
}

/* Testimonials Section */

.testimonials .testimonials-items {
    margin-top: 30px;
}

.testimonials-items .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--normal-font);
    text-align: center;
}

.testimonials-items .swiper-slide .client-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 8px;
    border: 3px solid var(--border-color);
    margin-bottom: 20px;
}

.client-img img {
    border-radius: 70%;
}

.swiper-slide p {
    width: 60%;
    color: var(--white-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.swiper-slide h3 {
    color: var(--dark-color);
}

.swiper-slide h4 {
    font-style: italic;
    color: var(--white-color);
    font-weight: 300;
}

/* Media Queries */

@media screen and (max-width: 1350px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1200px) {
    .offer-card h3 {
        font-size: 1.9rem;
    }

    .offer-card h1 {
        font-size: 3.3rem;
    }

    .timer-row .offer-time h2 {
        font-size: 2.2rem;
    }

    .products-wrapper .product {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 980px) {
    .navbar .nav-content :is(.menu-btn, .nav-links .cancel-btn) {
        display: block;
    }

    .nav-content .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--appbar-color);
        max-width: 400px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        transition: all 0.5s ease;
    }

    .nav-content.active .nav-links {
        right: 0%;
    }

    .nav-content button {
        display: none;
    }

    .home .home-content {
        flex-direction: column;
        row-gap: 50px;
    }

    .home-content :is(.home-details, .home-img) {
        width: 95%;
        align-items: center;
    }

    .home-details .title h2 {
        font-size: 3rem;
        text-align: center;
    }

    .home-details p {
        text-align: center;
    }

    .about-boxes .about-box {
        width: calc(100% / 2 - 20px);
    }

    .about-content .about-description,
    .offer .offer-content {
        flex-direction: column;
    }

    .about-description :is(.about-img, .about-product),
    .offer-content :is(.offer-img, .offer-box) {
        width: 95%;
    }

    .about-product h2 {
        font-size: 2.2rem;
    }

    .timer-row .offer-time h2 {
        font-size: 2rem;
    }

    .main-title h2 {
        font-size: 2.2rem;
    }

    .features .features-items {
        flex-direction: column;
        row-gap: 50px;
    }

    .features-items .features-item {
        width: 100%;
    }

    .use .use-items {
        flex-direction: column;
    }

    .use-items .use-item,
    .swiper-slide p  {
        width: 90%;
    }
}

@media screen and (max-width: 760px) {

    .container {
        padding: 0 25px;
    }

    .home-details .title h2 {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    button {
        padding: 12px 25px;
    }

    .about-boxes .about-box,
    .offer-content :is(.offer-img, .offer-box) {
        width: 100%;
    }

    .about-product h2 {
        font-size: 2rem;
    }

    .offer-card h3 {
        font-size: 1.4rem;
    }

    .offer-card h1 {
        font-size: 2rem;
    }

    .timer-row .offer-time h2 {
        font-size: 1.8rem;
    }

    .main-title h2 {
        font-size: 2rem;
    }

    .use-items .use-item,
    .swiper-slide p {
        width: 95%;
    }

    .products-wrapper .product {
        width: 100%;
    }
}