@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swapz");

:root {
    --playfair-font: 'Playfair Display', serif;
    --open-sans-font: "Open Sans", sans-serif;
    --max-width: 1150px;
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #88B44E;
    --text-color: #252C30;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

section {
    padding: 5rem 0;
}

/* Scroll Up Button */

.scroll-btn a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    z-index: 1000;
}

/* Navbar Section */

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 1000;
    transition: all 0.5s ease;
    height: 12vh;
    width: 100%;
}

nav.sticky {
    box-shadow: 0px 1px 4px rgb(224, 224, 224);
}

nav .container {
    height: 100%;
    position: relative;
}

nav .nav-content {
    height: 100%;
}

.nav-content .nav-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 170px;
}

.nav-content .nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.nav-links .links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.links li {
    height: 100%;
}

.links a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--open-sans-font);
    transition: all 0.4s ease;
}

.links .active,
.links a:hover {
    color: var(--primary-color);
}

.links .sub-links {
    display: none;
}

.nav-content .divider {
    height: 40%;
    width: 1px;
    background-color: rgb(235, 234, 234);
}

.nav-content i {
    cursor: pointer;
}

.nav-content .nav-links :is(.menu-btn, .links .cancel-btn) {
    position: absolute;
    top: 32px;
    right: 30px;
    transform: translateY(-50%);
    border: 2px solid rgb(233, 233, 233);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--black-color);
    display: none;
}

.links i {
    margin: 0 5px;
}

.links li {
    position: relative;
    transform: all 0.5s ease;
}

.links li .sub-links {
    min-width: 150px;
    display: none;
    opacity: 0;
    position: absolute;
    background-color: rgb(240, 240, 240);
    top: 90px;
    left: 0;
    padding: 8px 0px;
    transition: all 0.6s ease;
    z-index: 1000;
}

.links li:hover .sub-links {
    opacity: 1;
    display: block;
    top: 75px;
}

.sub-links li {
    padding: 5px 15px;
    transition: all 0.5s ease;
}

.sub-links a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
}

/* Home Section */

.home {
    margin-top: 12vh;
    height: 100svh;
    background-image: url("../img/carousel-2.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    border-image: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)) fill 1;
}

.home .container {
    height: 100%;
}

.home .home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home-content h4 {
    font-family: var(--open-sans-font);
    font-size: 1.5rem;
}

.home-content h4 span {
    color: var(--white-color);
    font-weight: 500;
}

.home-content .title h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    font-family: var(--playfair-font);
    color: var(--text-color);
    width: 50%;
    margin: 0 auto;
}

.button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 50px;
}

.home-content .explore {
    color: var(--text-color);
}

/* About Section */

.about .about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.about-content .about-images {
    width: 100%;
    display: flex;
    gap: 15px;
}

.about-images .about-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-img .img-2 {
    align-self: flex-end;
}

.about-images .about-img :is(.img-1, .img-4) {
    width: 100%;
}

.about-images .about-img :is(.img-2, .img-3) {
    width: 50%;
}

.about-content .about-product {
    width: 100%;
    font-family: var(--open-sans-font);
}

.main-title h4 {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 0.8rem;
    font-family: var(--open-sans-font);
}

.main-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--playfair-font);
}

.main-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.main-title::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
}

.main-title::after {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    bottom: -13px;
    background-color: var(--black-color);
    left: calc(25% - 13px);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.about-content .about-details {
    display: flex;
    gap: 15px;
}

.about-details img {
    width: 30%;
    height: 120px;
}

.about-details .details-box h3 {
    font-family: var(--playfair-font);
    padding-bottom: 0.5rem;
}

.about-content .divider {
    height: 1px;
    width: 100%;
    background-color: rgb(224, 223, 223);
    margin: 1.5rem 0;
}

/* Products Section */

.products {
    background-image: url("../img/product-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.products .main-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.products .main-title::before {
    left: 50%;
    transform: translateX(-50%);
}

.products .main-title::after {
    left: calc(50% - 13px);
}

.swiper-slide .product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-slide .product-details {
    transform: translateY(-50%);
    background-color: var(--white-color);
    padding: 20px;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.product-details h3 {
    font-size: 1.5rem;
    font-family: var(--playfair-font);
    color: var(--primary-color);
}

.product-details p {
    font-family: var(--open-sans-font);
}

.products-overlay {
    border-image: linear-gradient(rgba(236, 236, 236, 0.486), rgba(236, 236, 236, 0.486)) fill 1;
}

/* Blog Section */

.blog .blog-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
}

.blog-content .blog-image {
    width: 40%;
}

.blog-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog-content .blog-details {
    width: 50%;
}

.blog-details .blog-p p {
    font-family: var(--open-sans-font);
    margin-bottom: 1.5rem;
}

.blog-details .read-more {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.5s ease;
}

.blog-details .read-more:hover {
    background-color: #a1d35f;
    color: var(--text-color);
}

/* Features Section */

.features {
    background-image: url("../img/video-bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.features .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.features-wrapper .features-content {
    flex: 1;
    font-family: var(--open-sans-font);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-content h2 {
    font-size: 2.4rem;
    font-family: var(--playfair-font);
    font-weight: 800;
}

.features-content span {
    color: var(--white-color);
}

.features-content p {
    color: var(--white-color);
    font-size: 1.2rem;
    font-style: italic;
    font-family: var(--playfair-font);
}

.features-content .features-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.features-items .features-item {
    width: calc(100% / 2 - 20px);
    display: flex;
    align-items: center;
    gap: 20px;
}

.features-item .check-box {
    background-color: var(--white-color);
    padding: 15px 20px;
    border-radius: 50%;
    color: var(--primary-color);
}

.features-content .button {
    align-self: flex-start;
}

.features-wrapper .features-video {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.features-wrapper .features-video::before {
    position: absolute;
    content: "";
    height: 120px;
    width: 120px;
    top: 50%;
    left: 50%;
    background-color: var(--white-color);
    border-radius: 50%;
    animation: pulse-animation 1500ms ease-out infinite;
}

.features-video .video-icon {
    height: 140px;
    width: 140px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: relative;
}

.features-video .video-icon::before {
    position: absolute;
    content: "";
    height: 60px;
    width: 45px;
    background-color: var(--primary-color);
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

@keyframes pulse-animation {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 1350px) {
    .container {
        padding: 0 30px;
    }

    .nav-content .nav-logo {
        left: 30px;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        height: 11vh;
    }

    .nav-content .nav-logo {
        max-width: 150px;
    }

    .main-title h1 {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 980px) {
    .nav-content .nav-links :is(.menu-btn, .links .cancel-btn) {
        display: block;
    }

    .nav-links :is(.divider, .search) {
        display: none;
    }

    .nav-links .links {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--white-color);
        max-width: 400px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        transition: all 0.5s ease;
    }

    .nav-links.active .links {
        right: 0%;
    }

    nav {
        height: 10vh;
    }

    ;

    .nav-content .nav-logo {
        max-width: 130px;
    }

    .links li {
        height: 4%;
    }

    .links li:hover .sub-links {
        top: 30px;
    }

    .home-content .title h1 {
        font-size: 4rem;
        width: 80%;
    }

    .about .about-content {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .products .main-title {
        width: 60%;
    }

    .main-title h1 {
        font-size: 2rem;
    }

    .blog .blog-content {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }

    .blog-content .blog-image {
        width: 100%;
    }

    .blog-content .blog-details {
        width: 100%;
    }

    .features .features-wrapper {
        flex-direction: column;
        gap: 5rem;
    }

    .features-content h2 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 760px) {

    nav {
        height: 9.8vh;
    }

    .nav-content .nav-logo {
        max-width: 120px;
    }

    .home-content .title h1 {
        font-size: 3rem;
        width: 90%;
    }

    .about .about-content {
        width: 95%;
    }

    .main-title h1 {
        font-size: 1.8rem;
    }

    .products .main-title {
        width: 90%;
    }

    .blog .blog-content {
        max-width: 90%;
    }
    
}

@media screen and (max-width: 570px) {
    .home-content .title h1 {
        font-size: 2.5rem;
    }

    .about-content .about-details {
        flex-direction: column;
    }

    .about-details img {
        width: 100%;
        height: auto;
    }

    .blog .blog-content {
        max-width: 100%;
    }

    .features-items .features-item {
        width: 100%;
    }

    .features-content h2 {
        font-size: 2.1rem;
    }
}